
  .contenedor-productos{
      margin-bottom: 0;
      margin-top: 0;
      width: 100% !important;
      height: 100% !important;
      min-height: 85vh !important;
      background-color: #0d0d0d !important;
     background-image: url(../../../src/Assets/background-products.jpg);
      background-size:contain;
      background-blend-mode: color-dodge;
      padding: 2rem;
    }
    .searchConteiner{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 4rem;
      background-color: #525252ad;
    }
    .search{
      margin: 0.5rem;
      border-radius: 10px;
      border-top-color: #272727;
      color: white !important;
      font-size: 18px;
      text-align: center;
      border: none !important;
      background-color: rgba(128, 128, 128, 0.374);
      margin-right: 15px;
    }
    
    .search::placeholder {
      color: white;
      font-size: 18px;
    }

    .notNesultsContenedor{
      color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .img-products{
      height: 20vh !important;
      width: 100% !important;
  }
  .imagenlist{
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
  
  }
  .contenedor-tarjetas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 9px;
  }
  .MuiCard-root{
    background-color:black !important;
    /* height: 70vh !important;
    min-height: 65vh !important; */
    width: 100% !important;
    padding: 1rem !important;
  -moz-box-shadow: 0 0 6px   #88D317 !important;
  -webkit-box-shadow: 0 0 6px   #88D317 !important;
  box-shadow: 0 0 10px #88D317 !important;
  margin-left:1rem;
  margin-right:1rem;
  margin-top:1rem;
  margin-bottom: 1rem;
  color: #88D317 !important;
  border-radius: 0.5rem !important;
  }
  .MuiCardMedia-root{
    height: 30vh !important;
    width: 100% !important;
    object-fit:contain !important;
    background-color: white;
  }
  /* .vermas-carrito{
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: space-around;
  } */
  .vermas:hover{
    background-color: #272727 !important;
    font-size: 14px;
    border: solid 1px greenyellow;
    color: white !important;
    width: 100px;
  }
  .vermas{
    width: 100px;
    color: black !important;
    background-color: greenyellow !important;
    font-size: 12px !important;
    margin: 5px !important;
    padding: 5px !important;
  }
  .carrito-product {
    display: flex;
    align-items: baseline !important;
  }
.MuiCardContent-root{
  height: 13rem !important;
}
.carrito{
  min-height: 4rem !important;
}


@media screen and (max-width:455px) {
  .vermas{
    font-size:xx-small !important;
  }
  }
  @media screen and (max-width:280px) {
    .vermas{
      font-size:xx-small !important;
      display: flex !important;
      flex-direction: row !important;
    }
    }